<div class="row">
  <% @cards.each do |card| %>
    <div class="card columns large-1 left <%= card.color %>">
      <%= image_tag "cards/#{card.value}.png", class: "card-img" %>
    </div>
  <% end %>
</div>
